@import "./mixsins";

*{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    .header{
        height: 60px;
        justify-content: space-between;
        text-align:center;
        display: flex;
        padding: 0 30px;
        // gap: 80px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        @include tablet{
            flex-direction: column;
            align-items: center;
        }
        @include mobile {
            flex-direction: row;
            justify-items: center;
        }



        .burger{
            display: none;
            @include mobile{
                display: flex;
                
            }
        }
        .row-1{
            // margin-left: 70px;
            // margin-top: 16px;
     }

        .row-2{
            width: 500px;
            // margin-right: 80px;
            display: flex;
            justify-content: space-between;
            
            // gap: 60px;
            // margin-left:90px;
            @include mobile{
                display: none;
            }
        }
    }
}
